#x{background-color: blueviolet; padding: auto   }
.x{ color: #f90000;margin: auto ;background-color: blue}
.g{color: rgb(70, 0, 0);margin: auto;background-color: aquamarine}
li em { font-family: algerian;background-color: #f90000;}
a.nodeec{ text-decoration:none ;background-color: #f90000;} 
a:hover{ text-decoration: underline ;background-color: rgb(31, 5, 55)    }
p.z{color: #000}